*,*::before,*::after{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-moz-selection {
    color:#fff;
    background: rgb(233, 138, 21);
  }

  ::selection {
    color:#fff;
    background: rgb(233, 138, 21);
  }
}

.container{
  width:100vw;
  height:100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0, 52, 49, 0.7);
  &::after{
    z-index: 0;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('assets/noise.gif');
    opacity: 0.1;
  }
}

.navigation{
  font-family: 'Roboto', sans-serif;
  color:#fff;

  &__link{
    position:absolute;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.22em;
    font-weight: bold;
    z-index: 200;
    @media (min-width:800px) {
      font-size: 18px;
      line-height: 21px;
    }

    &--logo{
      top:12%;
      left:10%;
    }

    &--github{
      bottom:13%;
      left:10%;
    }

    &--cv{
      bottom:13%;
      right:10%;
    }
  }
}

.burger{
  position: absolute;
  top:12%;
  right:10%;
  z-index: 200;
  @media (min-width:800px) {
    display:none;
  }

  &__line{
    display: inline-block;
    width:4px;
    height:32px;
    background-color: #fff;
    margin-right:10px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.burger-menu{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  background: rgba(233, 138, 21);
  z-index: 100;
  transform: translateX(100%);
  @media (min-width:800px){
    display:none;
  }

  &::after{
    z-index: 0;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('assets/noise.gif');
    opacity: 0.1;
  }

  &__link{
    position: absolute;
    top:30%;
    left:10%;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    &:nth-child(2){
      top:40%;
    }
  }
}

.navigation__desktop{
  display:none;
  position: absolute;
  top:12%;
  right:10%;
  text-align: right;

  @media (min-width:800px) {
    .navigation__link{
      position: unset;
      margin-bottom: 17px;
      &:last-child{
        margin:0;
      }
    }
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    white-space: nowrap;
  }
}

.carousel{
  position: relative;
  z-index: 1;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  font-family: 'Roboto', sans-serif;

  .queue-slide{
    position:absolute;
    font-weight: 900;
    font-size: 9vw;
    line-height: 9.2vw;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.3;
    left:13%;
    @media (min-width:480px) {
      font-size: 8vw;
      left:20%;
    }
    @media (min-width:800px) {
      left:27%;
      font-size: 6vw;
      line-height: 100%;
    }

    &--top{
      top:-3%;
      @media (min-width:800px) {
        top:-9%;
      }
    }
    &--bot{
      bottom: -3%;
      @media (min-width:800px) {
        bottom:-9%;
      }
    }
  }

  .active-slide{
    color:#fff;

    &__text{
      position: absolute;
      font-weight: 900;
      font-size: 10vw;
      line-height: 100%;
      -webkit-text-stroke: .5px #fff;
      letter-spacing: 0.065em;
      left:10%;
      top:35%;
      z-index: 1;
      transform: translate(0,0);
      @media (min-width:480px) {
        font-size: 8vw;
        left:20%;
      }
      @media (min-width:800px) {
        top:35%;
        left:26%;
        font-size: 6.5vw;
      }

      &--outline{
        color:transparent;
        z-index: 3;
      }
    }

    &__image-wrapper{
      z-index: 2;
      position:absolute;
      top:30%;
      left:27%;
      width:100%;
      max-width: 400px;
      //@media (min-width:672px) {
      //  max-width: 60%;
      //}
      @media (min-width:800px) {
        left:35%;
        top:30%;
        max-width: 45%;
      }
      @media (min-width:950px) {
        max-width: 40%;
      }
      @media (min-width:1550px) {
        left:45%;
        top:25%;
        max-width: 35%;
      }

      &::before{
        content:'';
        position: absolute;
        z-index: 2;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(233, 138, 21, 0.5) 0%, rgba(0, 52, 49, 0.6) 100%), rgba(21, 225, 152, 0.1);
      }
    }

    &__image{
      width:100%;
      height:auto;
      filter: grayscale(1);
    }
  }
  .slide-count{
    position:absolute;
    bottom:23%;
    right:10%;
    color:#fff;
    font-weight: 700;
    letter-spacing: 0.22em;

    @media (min-width:800px) {
      left:26%;
      top:69%
    }

    &__current-slide{
      font-size: 36px;
    }

    &__no-slides{
      font-size: 18px;
    }
  }
}